
.container1{
    height:60px;
    background-color:#ffffff;
    margin-top:0px;
}

.col-md-12{
    background-color:white;
    border-bottom: 1px solid #cccccc;
}

footer{
    background-color:#666666;
    height:50px;
    display:block;
    margin:0 auto;
    border-top:8px solid #4aaaa5;
    clear:both;
    position:fixed;
    bottom:0;
    width:100%; 
    text-align: center;
    line-height:50px;
    font-size:10px;
    color:#cccccc;
}


.nav-link {
   
    padding: .5rem 1rem;
    line-height: 50px;
}

.justify-content-end{
  float:right;
}

a {
    color: #666666;
}

footer{
    background-color:#666666;
    height:50px;
    display:block;
    margin:0 auto;
    border-top:8px solid #4aaaa5;
    clear:both;
    position:fixed;
    bottom:0;
    width:100%; 
    text-align: center;
    line-height:50px;
    font-size:10px;
    color:#cccccc;
}



.col-md-3{
    text-align:center;
    font-family:Georgia, Times, Times New Roman, serif;
    background-color:#4aaaa5;
    color:#ffffff;
    line-height:60px;
    font-size:30px; 
}

h3{
    color:#4aaaa5;
    font-size:25px;
    margin-left:30px;
    padding-top:18px;
    font-family:Georgia, Times, Times New Roman, serif;
}

hr{
    margin:16px;
    background-color:#cccccc;
}

.container1,
.container2{
    background-color:white;
    width:80%;
    margin: 0 auto;
}

@media screen and (max-width 640px){
    .h2{
        width:100%;
    }
    .nav{
        width:100%;
    }
}



p{
    color:#666666;
    font-size:15px;
    line-height:25px;
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom:10px; 

}

.profile{
    width:200px;
    height:200px;
    margin:5px 20px 10px 15px;
    float:left;
}

